body {
    height: 100%;
}
.animal-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100%;
}

.animal-card {
    width: 300px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.photos-of-card {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.photo-of-modal {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 300px;
    width: 500px;
}
.card-text-modal {
    font-size: 16px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.card-title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    text-align: justify;
}

.text-muted {
    color: #999;
    font-size: 14px;
    margin-top: 10px;
    text-align: right;
}